body{
    width: 100%;
    margin: 0;
    background-image: url("../resources/background.jpg");
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #663399;
}

nav > a{
    align-self: center;
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
}

nav > a:hover{
    border-bottom: #FFFFFF;
}

#parameters{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

#parameters img{
    width: 50px;
    cursor: pointer;
}

#languages{
    padding: 1px 15px;
    position: absolute;
    top: 50px;
    background-color: #0061e4;
    color: #FFFFFF;
}

#languages a{
    cursor: pointer;
}

h4{
    text-align: center;
    color: #7FFF00;
}

main{
    margin-top: 10px;
}

#accueil p{
    border: solid 2px black;
    margin: 50px 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

#accueil a{
    color: rebeccapurple;
    font-size: 30px;
    text-decoration: none;
}

#score{
    text-align: center;
}

#player, #fighter{
    display: flex;
    justify-content: center;
}

button{
    margin: 5px;
    border: solid 2px black;
    font-size: 20px;
    max-width: 112px;
}

#player img, #fighter img{
    max-width: 100%;
    height: auto;
}

#rock, #adRock {
    background-color: #0000FF;
}

#paper, #adPaper{
    background-color: #FF0000;
}

#scissors, #adScissors{
    background-color: #008000;
}

#playerScore, #fighterScore{
    font-size: 20px;
    margin: 5px 0;
}

#playButton{
    background-color: #663399;
    color: gray;
    text-align: center;
}

#bastien{
    background-color: #000000;
    color: #0061e4;
}

.hiddenSolo{
    display: none;
}

.visibleSolo{
    display: block;
}

.hiddenDuo{
    visibility: hidden;
}

.visibleDuo{
    visibility: visible;
}

#result{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}