body{
    width: 100%;
    margin: 0;
    background-image: url("../resources/background.jpg");
}

header{
	font-family: arial, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rebeccapurple;
	color: #FFF;
	box-shadow: 0 1px 5px #000;
}

nav{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	font-family: sans-serif;
	font-size: 20px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
}

nav a:hover{
	border-top: solid;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
	list-style: none;
}

.menu {
	padding: 0 10px;
}

#parameters a{
	color: #FFF;
	padding: 0 10px;
}

#parameters a:hover{
	border-top: none;
	color: #000;
}

#parameters img{
    width: 42px;
    cursor: pointer;
}

#languages{
    padding: 1px 15px;
    position: absolute;
    top: 48px;
    right: 0px;
    background-color: rebeccapurple;
    color: #FFFFFF;
    box-shadow: 0 1px 5px #000;
}

#languages a{
    cursor: pointer;
}

h4{
    text-align: center;
    color: #7FFF00;
}

main{
    margin-top: 60px;
}

#accueil > p{
    border: solid 2px black;
    margin: 50px 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

#accueil > p > a{
    color: rebeccapurple;
    font-size: 30px;
    text-decoration: none;
}

#score{
    text-align: center;
}

#player, #fighter{
    display: flex;
    justify-content: center;
}

button{
    margin: 5px;
    border: solid 2px black;
    font-size: 20px;
    max-width: 112px;
}

#player img, #fighter img{
    max-width: 100%;
    height: auto;
}

#rock, #adRock {
    background-color: #0000FF;
}

#paper, #adPaper{
    background-color: #FF0000;
}

#scissors, #adScissors{
    background-color: #008000;
}

#playerScore, #fighterScore{
    font-size: 20px;
    margin: 5px 0;
}

#playButton{
    background-color: #663399;
    color: gray;
    text-align: center;
}

#bastien{
    background-color: #000000;
    color: #0061e4;
}

.hiddenSolo{
    display: none;
}

.visibleSolo{
    display: block;
}

.hiddenDuo{
    visibility: hidden;
}

.visibleDuo{
    visibility: visible;
}

#result{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}